<!doctype html>
{% extends 'base.html' %}
{% block aside %}
    <template id='abp-tree'>
        <div>
            <ul>
                <abp-node :node="tree" :flag="flag" :sel_node="sel_node"></abp-node>
            </ul>
        </div>
    </template>
    <template id="abp-node">
        <li :class = "[isActive ? 'active-node' : 'non-active-node']" @click.stop="onClick();"><span>${ node.label }</span>
            <ul v-if="node.children && node.children.length">
                <abp-node :flag="flag" v-for="child in node.children" :key="child.id" :node="child" :sel_node="sel_node"></abp-node>
            </ul>
        </li>
    </template>
    <abp-tree id='tree' :tree='tree'></abp-tree>
{% endblock %}
{% block article %}
    <script>
        var tree = JSON.parse({{ tree | tojson }})
    </script>
    <template id='abp-slider'>
        <div style="position: relative; width: 80vh;">
            <transition-group name="fade" tag="div">
                <div v-for="i in [currentIndex]" :key="i">
                    <img :src="currentImg">
                </div>
            </transition-group>
            <a class="prev" @click="prev" href="#">&#10094; Previous</a>
            <a class="next" @click="next" href="#">&#10095; Next</a>
        </div>
    </template>
    <template id='abp-gallery'>
        <div class="gallery">
            <abp-item v-for="dt in data.children" :key="dt.label" :item="dt"></abp-item>
        </div>
    </template>
    <template id="abp-card">
        <div class="card">
            <!--abp-slider :photos="photos"></abp-slider-->
            <div>${ data.label }</div>
            <div class="desc">
                <div>
                    Имя: <b>${ data.label }</b><br>
                    Кличка: <b>${ details.nick }</b><br>
                    День рождения: <b>${ details.birthday }</b><br>
                </div>
                <div>
                    Порода: <b>${ details.breed }</b><br>
                    Уточнение породы: <b>${ details.subbreed }</b><br>
                </div>
                <div>
                    Мать: <b>${ details.mam }</b><br>
                    Отец: <b>${ details.dad }</b><br>
                </div>
            </div>
        </div>
    </template>
    <template id="abp-item">
        <div @click="onClick()">
            <figure>
                <img src="static/photo.jpg">
                <figcaption>${item.label}</figcaption>
            </figure>
        </div>
    </template>

    <div id="switch" style="width: 100%; height: 100%;">
        <component :is="swtch" :data="data"></component>
    </div>

    <script src="https://unpkg.com/vue-async-computed"></script>
    <script src="{{ url_for('static', filename='app_vue.js') }}"></script>
{% endblock %}
{% block footer%}
<div class="contacts">
    По вопросам бронирования и приобретения щенков обращаться к <b>Людмиле Васильевне</b>:<br>
     - тел. +79279316596,<br>
     - Whatsapp +79279316596
</div>
{% endblock%}
